@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    font-size: 62.5%;
    font-family: 'Roboto';
    background-color: lightskyblue;
}

#root {
    display: flex;
    justify-content: center;
   margin-top: 5%;
}

#scoreboard {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    background-color: lightskyblue;
    font-size: 3em;
}

#title {
    display: flex;
    justify-content: center;
    margin: 0;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    background-color: coral;
    font-size: 1.3em;
    padding: 0.5rem;
}

#score {
    display: grid;
    grid-template-columns: auto;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    background-color: coral;
    padding: 1rem;
    font-size: 1.2em;
}

#currentScore {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    margin: 0px 20px 0px 0px;
}

#highScore {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    margin: 0px 0px 0px 20px;
}

#cardContainerParent {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

#cardContainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(10rem, 11rem));
    grid-column: 2 / 2;
    margin-top: 2rem;
}

.cardClass {
    display: flex;
    justify-content: center;
    justify-self: center;
    font-size: 5em;
    margin: 5px;
    height: 10rem;
    width: 10rem;
    background-color: lightpink;
}

img {
    height: 3em;
}